body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.selector {
    text-align: center;
}

.hidden {
    display: none;
}

#resultado {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 10px; /* Espacio entre elementos */
}

#resultado li {
    margin-bottom: 5px;
}
